@charset "UTF-8";

/*
#box {
    color: cyan;
    font-size: 50px;
    font-weight: bold;
}

div {
    color: cyan;
    font-size: 50px;
    font-weight: bold;
}

.pox {
    color: cyan;
    font-size: 50px;
    font-weight: bold;
}

#box {
    color: chartreuse;
    font-size: 50px;
    font-weight: bold;
}

#box > p {
    color: rebeccapurple;
    font-size: 50px;
    font-weight: bold;
}

#box p {
    color: rebeccapurple;
    font-size: 50px;
    font-weight: bold;
}

div, p, strong {
    color: greenyellow;
    font-size: 50px;
    font-weight: bold;
}

#box, .pox, strong {
    color: darkgreen;
}

a {
    color: greenyellow;
}

ul li a {
    color: red;
}

a {
    text-decoration: none;
}

* {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.box {
    color: green;
    font-size: 50px;
    font-weight: bold;
}

div.box {
    color: greenyellow;
    font-size: 30px;
    font-weight: bold;
}

p.box {
    color: olivedrab;
    font-size: 50px;
    font-weight: bold;
}

div.box.pox {
    color: forestgreen;
}

.box.pox {
    color: darkgreen;
}

#box p {
    color: olivedrab;
    font-size: 30px;
    font-weight: bold;
}

#box > p {
    color: darkcyan;
    font-size: 50px;
    font-weight: bold;
}

#box > p {
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
}

#box + p {
    color: firebrick;
    font-size: 30px;
    font-weight: bold;
}

#box ~ p {
    color: chocolate;
    font-size: 30px;
    font-weight: bold;
}
*/

.red {
    color: red;
    background-color: red;
}

.green {
    color: greenyellow;
    background-color: greenyellow;
}

.bg {
    background-color: #ccc;
}

.size {
    font-size: 25px;
}

















